<!-- form to get details from user and sending to service -->
<form class="form" #userDetails="ngForm" >
    <div class="row-content">
        <label for="name" >Name</label>
        <input type="text" class="input" id="name" name="name" 
            placeholder="Your name.." required  [(ngModel)]=data.name/>
      
    </div>
    <div class="row-content">
        <label  for="profile">Profile image</label>
        <div class="profile-radio-content">
            <label>
                <input type="radio" id="profile1" [(ngModel)]=data.profile
                    value="1"
                    name="profile">
                <img class="profile" id="image1"
                    src="./assets/girl1.png">
            </label>
            <label>
                <input type="radio" id="profile2" [(ngModel)]=data.profile
                    value="2"
                    name="profile">
                <img class="profile" id="image2"
                    src="./assets/girl2.png">
            </label>
            <label>
                <input type="radio" id="profil3" [(ngModel)]=data.profile
                    value="3"
                    name="profile">
                <img class="profile" id="image3"
                    src="./assets/boy1.png">
            </label>
            <label> 
                <input type="radio" id="profile4" [(ngModel)]=data.profile
                    value="4"
                    name="profile">
                <img class="profile" id="image4"
                    src="./assets/boy2.png">
            </label>
        </div>
    </div>
    <div class="row-content">
        <label for="gender" >Gender</label>
        <div>
            <input type="radio" id="male" name="gender" [(ngModel)]=data.gender
                value="male">
            <label for="male" >Male</label>
            <input type="radio" id="female" name="gender" [(ngModel)]=data.gender
                value="female">
            <label for="female" >Female</label>
        </div>
    </div>
    <div class="row-content">
        <!-- department is remaining -->
        <label for="department" >Department</label>
        <div>
            <input type="checkbox" class="checkbox" id="hr" (click)="getVal('HR')"  [ngModel]="data.department=='HR'"  
                name="department1" value="HR">
            <label for="hr" >HR</label>
            <input type="checkbox" class="checkbox" id="sales" (click)="getVal('Sales')" [ngModel]="data.department=='Sales'" 
                name="department2" value="Sales">
            <label for="sales" >Sales</label>
            <input type="checkbox" class="checkbox" id="finance" (click)="getVal('Finance')" [ngModel]="data.department=='Finance'" 
                name="department3" value="Finance">
            <label for="finance" >Finance</label>
            <input type="checkbox" class="checkbox" id="engineer" (click)="getVal('Engineer')" [ngModel]="data.department=='Engineer'" 
                name="department4" value="Engineer">
            <label for="engineer" >Engineer</label>
            <input type="checkbox" class="checkbox"  (click)="getVal('Others')" [ngModel]="data.department=='Others'"
                name="department5" value="Others">
            <label for="others" >Others</label> 
        </div>
    </div>
    <div class="row-content">
        <label for="salary" >Choose your salary:
        </label>
        <input type="range" class="input" name="salary" id="salary" [(ngModel)]=data.salary
            min="300000" max="500000" step="100" value="400000">
        <output class="salary-output text" for="salary">{{data.salary}}</output>
    </div>
    <div class="row-content">
        <label for="salary" >Choose start date:
        </label>
        <input type="date" class="input" name="startdate" [(ngModel)]=data.startDate> 
    </div>
    <div class="row-content">
        <label for="notes" >Notes</label>
        <textarea id="notes" class="input" name="Notes" [(ngModel)]=data.note
            placeholder="" style="height:100px"></textarea>
    </div>
    <div class="buttonParent">
        <a class="resetButton 
            button cancelButton" routerLink="/home">Cancel</a>
            <div class="submit-reset">
                <button class="button" *ngIf="this.getId!=0" (click)="update()">update</button> &nbsp;
                <button class="button submitButton" id="submitButton" *ngIf="this.getId==0"
                (click)="onsubmit()"    type="submit">Submit</button>
                <button type="reset" class="resetButton button">Reset</button>
            </div>
    </div>
</form>
