<div class="main-content">
    <!-- div to display heading counter searchbox and add user button -->
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details <div class="emp-count">{{this.datas.length}}</div>
        </div>
          <a  class="add-button" [routerLink]="['/add','']">
            +Add User
        </a>
    </div>
</div>

 <!-- table to display service data -->
<table id="table-display" class="table">
    <tr>
        <th>pic</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor='let employee of employees'>
        <td>
            <img src="./assets/girl1.png" *ngIf="employee.profile==1" alt="">
            <img src="./assets/girl2.png" *ngIf="employee.profile==2" alt="">
            <img src="./assets/boy1.png" *ngIf="employee.profile==3" alt="">
            <img src="./assets/boy2.png" *ngIf="employee.profile==4" alt="">
            
        </td>
        <td>{{employee.name}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.startDate}}</td>
        <td>
           <a class="fevcon" (click)="edit(employee.employeeId)" > <i class="fas fa-edit"></i></a>
           <a class="fevcon" (click)="remove(employee.employeeId)"> <i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
</table>
<br>
